<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/login-form.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <p>&nbsp;</p>
        <form action="/admin/login-form>" method="POST">
            <div class='centered'>
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
            </div>
            
            <div class='centered'>
                <label for="pass">Password</label>
                <input type='password' name="pass" id="pass"> 
            </div>

            <p></p>
            <div class='centered'>
               <button class="btn" type="submit">Submit</button>
            </div>
        </form>
    </main>
    
<%- include('../includes/end.ejs') %>