/* Basics */
html, body {   
   width: 100%;   
   height: 100%;   
   font-family: "Helvetica Neue", Helvetica, sans-serif;   
   color: #444;   
   -webkit-font-smoothing: antialiased;    background: #f0f0f0;
}

label {
    color: #555;
    display: inline-block;
    text-align: left;
    width: 10rem;
    font-size: 14px;
}

